<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bookSlot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F39434991E6E76AB00763682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F39434B01E6E76AB00763682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F39434BB1E6E76AC00763682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
